@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    font-family: 'Roboto Slab';
    }
    

body {
    background-image: linear-gradient(to right, #3e0d7798, white, #3e0d7798);
    }

    h1 {
        color: black;
        text-align: center;
    }
    
    .button {
        font-family: 'Roboto Slab';
        margin: 10px 0 0 0;
        float: inline-start;
        cursor: pointer;
        font-size: 1em;
        border: none;
        padding: 3px 15px;
        line-height: 18px;
        border-radius: 10px;
        vertical-align: baseline;
        background: black;
        color: white;
        text-decoration: none;
        display: inline-block;
        font-weight: normal;
      }

      .button:hover {
        background-color: rgb(185, 42, 185);
        color: white;
        transition-duration: 0.5s;
      }
    